{{!-- 
<div class="card teamCard text-dark bg-white mb-3" style="max-width: 25%;">
  <div class="card-header teamCardHeader bg-dark text-white font-weight-bold text-center">{{name}}</div>
  <div class="card-body bg-light">
    <a href="/teams/{{id}}">
    <img class="mx-auto px-3 teamImage" src="/images/{{filename}}" alt="team logo"></a>

  </div>
</div> --}}




<div class="card teamCard mx-2" style="width: 18rem;">
  <img class="card-img-top" src="/images/{{filename}}" alt="team logo">
  <div class="card-body">
    <p class="card-title text-center font-weight-bold">{{name}}</p>
  </div>
</div>
