<div class="container">
  <div class="row">
    <div class="login-form">
      <div>
        <div class="wrap-login100">
          <div class="text-center"><div class="login100-pic js-tilt">
              <img src="/images/soccer-login.png" alt="IMG" />
            </div>
          </div>

          <form class="login-form">
            <span class="login100-form-title">
              {{language.coach-login}}
            </span>

            <div class="wrap-input100">
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="{{language.email}}"
                id="email-login"
              />
            </div>

            <div class="wrap-input100">
              <input
                class="input100"
                type="password"
                name="pass"
                placeholder="{{language.password}}"
                id="password-login"
              />
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn mb-4">
                {{language.login}}
              </button>
            </div>
            <div class="container-login100-form-btn">
            </div>
          </form>
		  <a href="/register">  <button type="button" class="login100-form-btn mb-4" id="registerBtn">
            {{language.register}}
          </button></a>
        
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/js/login.js"></script>