{{#if players}}
  <table>
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Position</th>
        <th>Goals</th>
        <th>Jersey Number</th>
        <th>Weak Foot</th>
        <th>Strong Foot</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      {{#each players}}
        <tr>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{goals}}</td>
          <td>{{jerseyNumber}}</td>
          <td>{{weakFoot}}</td>
          <td>{{strongFoot}}</td>
          <td>{{team.name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No players found.</p>
{{/if}}

<a href="/addplayer">
<button type="submit" id="addPlayer">Add New Player</button>
</a>