
  <h2 class="text-center mt-4"> {{language.players}} </h2>

  {{#if players}}
  <div class="container">

    <div class="table-responsive"> 
      <table class="zebra">

      <thead >
        <tr >
          <th >{{language.name}}</th>
          <th>{{language.position}}</th>
          <th>{{language.goals}}</th>
          <th>{{language.jersey-number}}</th>
          <th>{{language.weak-foot}}</th>
          <th>{{language.strong-foot}}</th>
          <th>{{language.team}}</th>
        </tr>
      </thead>
      <tbody>
              {{#each players}}
       <tr>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{goals}}</td>
          <td>{{jerseyNumber}}</td>
          <td>{{weakFoot}}</td>
          <td>{{strongFoot}}</td>
          <td>{{team.name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    </div>

    
    {{else}}
  <p>No players found.</p>
{{/if}}


<div class="text-center">

<div class="btn-group my-4">


<a href="/addplayer">
  <button type="submit" class="addBtn" id="addPlayer">{{language.add-new-player}}</button>
</a>

<button class="delBtn" id="open-modal-btn">{{language.delete-player}}</button>
{{!-- MODAL --}}
<div id="modal" class="modal">
  <div class="modal-background">

    <div class="row modal-content">
      <span class="close">&times;</span>
      <p class="modalP">{{language.delete-message}}</p>
      <div>
        <input
          type="text"
          placeholder="Enter Player Name"
          id="deletePlayerInput"
        />
      </div>
      <button class= "delBtn" id="deletePlayerBtn">{{language.delete-player}}</button>
    </div>
  </div>
</div>  
{{!-- MODAL --}}
</div>

</div>

    <script src="/js/deletePlayer.js"></script>