
  {{#if players}}
  <div id="container">

    <table class="zebra">

      <thead>
        <tr>
          <th>NAME</th>
          <th>POSITION</th>
          <th>GOALS</th>
          <th>JERSEY NUMBER</th>
          <th>WEAK FOOT</th>
          <th>STRONG FOOT</th>
          <th>TEAM</th>
        </tr>
      </thead>
      <tbody>
              {{#each players}}
       <tr>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{goals}}</td>
          <td>{{jerseyNumber}}</td>
          <td>{{weakFoot}}</td>
          <td>{{strongFoot}}</td>
          <td>{{team.name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
  <p>No players found.</p>
{{/if}}


<div class="text-center">

<div class="btn-group my-4">


<a href="/addplayer">
  <button class="addBtn" type="submit" id="addPlayer">Add New Player</button>
</a>

<button class="delBtn" id="open-modal-btn">Delete Player</button>

<div id="modal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Please enter the name of the player you'd like to delete</p>
    <div>
      <label for="Delete Player">Player Name</label>
      <input
        type="text"
        placeholder="Enter Player Name"
        id="deletePlayerInput"
      />
    </div>
    <button class= "delBtn" id="deletePlayerBtn">Delete Player</button>
  </div>
</div>  
</div>

</div>

